footer.site-footer
  .row
    .columns.small-4.large-4
      | &copy; LogoCorp
    .columns.small-4.large-4
      | Footer Stuff
      br
      | Footer Stuff
      br
      | Footer Stuff
    .columns.small-4.large-4 
      | Footer Stuff
      br
      | Footer Stuff
      br
      | Footer Stuff